NEXT_PUBLIC_RUNTIME_URL=http://localhost:4000
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=admin.tyndaleapp.net
NEXT_PUBLIC_PLAUSIBLE_SCRIPT=https://plausible.io/js/script.js
AUTH_URL=http://localhost:3001
AUTH_SECRET=                     # openssl rand -base64 32
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
